body {
    margin: 0;
  }
  
  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .head,
  .larm,
  .torso,
  .rarm,
  .lleg,
  .rleg {
    background-color: #e85f5f;
  }
  
  .head {
    width: 200px;
    margin: 0 auto;
    height: 150px;
    border-radius: 200px 200px 0 0;
    margin-bottom: 10px;
  }
  
  .eyes {
    position: relative;
    top: 100px;
  }
  
  .leye,
  .reye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(24, 21, 21);
    display: inline-block;
  }
  
  .leye {
    margin-left: 30px;
  }
  
  .reye {
    margin-left: 100px;
  }
  
  .ubody {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    display: flex;
  }
  
.torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
    transition: border-radius 1s;
  }
  
  .lbody {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .larm,
  .rarm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
    margin-top: 20px;
  }

  
  .larm {
    margin-right: 10px;
  }
  
  .rarm {
    margin-left: 10px;
  }
  
  .lleg,
  .rleg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
  }
  
  .lleg {
    margin-left: 45px;
  }
  
  .rleg {
    margin-left: 30px;
  }
  
  .robots:hover .head {
    animation: movehead 5s infinite;
  }
  
  .robots:hover .torso {
    border-radius: 40%;
    animation: movetorso 4s infinite;
  }
  
  .robots:hover .larm {
    animation: movelarm 4s infinite;
  }
  
  .robots:hover .rarm {
    animation: moverarm 4s infinite;
  }
  
  .robots:hover .lleg {
    animation: movelleg 4s infinite;
  }
  
  .robots:hover .rleg {
    animation: moverleg 5s infinite;
  }
  
  @keyframes movehead {
    0% {width: 200px;}
  
    25% {width: 300px; }
  
    50% {width: 200px; }
  
    75% { width: 300px;}
      
    100% { width: 200px;}
      }
  
  @keyframes movelarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
        } 
   25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
   50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
   100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
   100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes movelleg {
    0% {
      transform: rotate(0deg);
    }
   25% {
      transform: rotate(20deg);
    }
   50% {
      transform: rotate(0deg);
    }
   75% {
      transform: rotate(20deg);
    }
  100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverleg {
    0% {
      transform: rotate(0deg);
    }
 25% {
      transform: rotate(-20deg);
    }
   50% {
      transform: rotate(0deg);
    }
  75% {
      transform: rotate(-20deg);
    }
   100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movetorso {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  